server:
  port: 9000

spring:
  application:
    name: cards

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  h2:
    console:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  config:
    import: "optional:configserver:http://configserver:8071/"

  rabbitmq:
    host: rabbit
    port: 5672
    username: guest
    password: guest

  kafka:
      bootstrap-servers: kafka:9092
      consumer:
        group-id: cards-group
        auto-offset-reset: earliest
        key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
        value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
        properties:
          spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
          spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
          spring.json.value.default.type: com.sarthak.Cards.dto.event.AccountCreateEvent
          spring.json.use.type.headers: false
          spring.json.trusted.packages: com.sarthak.Cards.dto.event



management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    shutdown:
      access: unrestricted
    prometheus:
      access: unrestricted
    health:
      probes:
        enabled: true
  info:
    env:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
  tracing:
    sampling:
      probability: 1.0
  otlp:
    tracing:
      endpoint: http://tempo:4318/v1/traces

eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://eurekaserver:8072/eureka/

info:
  app:
    name: "cards"
    description: "Central Bank Cards Application"
    version: "1.0.0"

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level ${spring.application.name} - [%X{traceId:-},%X{spanId:-}] %logger{36} : %msg%n"
  level:
    org.springframework.cloud.openfeign: DEBUG
    com.netflix.discovery: INFO
    org.springframework.web: INFO
