server:
  port: 9000

spring:
  application:
    name: cards-microservice

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  h2:
    console:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

build:
  version: "LOCAL"

cards:
  message: "Welcome to CentralBank Cards APIs (Local)"
  contactDetails:
    name: "Amaal Grega - Developer"
    email: "amaal@centralbank.com"
  onCallSupport:
    - "(452) 456-2176"
    - "(546) 764-8934"
