# version: "3.9" ....if we use this then mem_limit will not work because now docker says "mem limit is only for production level not self learning"
services:
  accounts:
    image: "centralbank/accounts-microservice:s1"
    container_name: accounts-ms
    ports:
      - "8080:8080"
#    deploy:
#      resources:
#        limits:
#          memory: 700m ....instead we will use mem_limit because deploy is only for swarm mode and we are not using swarm mode
    mem_limit: 700m
    environment:
      SPRING_PROFILES_ACTIVE: docker
    networks:
      - centralbank
  loans:
    image: "centralbank/loans-microservice:s1"
    container_name: loans-ms
    ports:
      - "8090:8090"
#    deploy:
#      resources:
#        limits:
#          memory: 700m
    mem_limit: 700m
    environment:
        SPRING_PROFILES_ACTIVE: docker
    networks:
      - centralbank
  cards:
    image: "centralbank/cards-microservice:s1"
    container_name: cards-ms
    ports:
      - "9000:9000"
#    deploy:
#      resources:
#        limits:
#          memory: 700m
    mem_limit: 700m
    environment:
        SPRING_PROFILES_ACTIVE: docker
    networks:
      - centralbank
networks:
  centralbank:
    driver: "bridge"