server:
  port: 8081

spring:
  application:
    name: gatewayserver

  config:
    import: "optional:configserver:http://configserver:8071/"

  cloud:
    gateway:
      discovery:
        locator:
          enabled: false
          lower-case-service-id: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/sarthakverse
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      access: unrestricted
    prometheus:
      access: unrestricted
  info:
    env:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
  tracing:
    sampling:
      probability: 1.0
  otlp:
    tracing:
      endpoint: http://tempo:4318/v1/traces
  observations:
    key-values:
      application: ${spring.application.name}
info:
  app:
    name: "gatewayserver"
    description: "Central Bank Gateway Server"
    version: "1.0.0"
logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level ${spring.application.name} - [%X{traceId:-},%X{spanId:-}] %logger{36} : %msg%n"
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.cloud.loadbalancer: DEBUG
    feign: DEBUG
