spring:
  application:
    name: eurekaserver

  config:
    import: "optional:configserver:http://configserver:8071/"

server:
  port: 8072

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false

logging:
  level:
    com.netflix.eureka: DEBUG
    com.netflix.discovery: DEBUG
