server:
  port: 8080

spring:
  application:
    name: accounts

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  h2:
    console:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  config:
    import: "optional:configserver:http://localhost:8071/"
  rabbitmq:
      host: localhost
#      host: rabbit
      port: 5672
      username: guest
      password: guest
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    shutdown:
      access: unrestricted
    health:
      probes:
        enabled: true
  info:
    env:
      enabled: true

eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
     defaultZone: http://localhost:8072/eureka/

info:
  app:
    name: "accounts"
    description: "Central Bank Accounts Application"
    version: "1.0.0"


logging:
  level:
    org.springframework.cloud.openfeign: DEBUG
    com.netflix.discovery: INFO
    org.springframework.web: INFO


resilience4j:
  circuitbreaker:
    instances:
      cards:
        slidingWindowSize: 10
        permittedNumberOfCallsInHalfOpenState: 2
        failureRateThreshold: 50
        waitDurationInOpenState: 10s

      loans:
        slidingWindowSize: 10
        permittedNumberOfCallsInHalfOpenState: 2
        failureRateThreshold: 50
        waitDurationInOpenState: 10s

  retry:
    instances:
      cards:
        maxAttempts: 3
        waitDuration: 500ms

      loans:
        maxAttempts: 3
        waitDuration: 500ms

  ratelimiter:
    instances:
      cards:
        timeoutDuration: 1s
        limitRefreshPeriod: 5s
        limitForPeriod: 1

      loans:
        timeoutDuration: 1s
        limitRefreshPeriod: 5s
        limitForPeriod: 1