version: "3.9"
services:
  rabbit:
    image: rabbitmq:3.13-management
    container_name: rabbit
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      interval: 10s
      timeout : 5s
      retries: 10
      start_period: 5s
    extends:
          file: common-config.yml
          service: network-deploy-service

  configserver:
    image: centralbank/configserver-microservice:s1
    container_name: configserver-ms
    ports:
      - "8071:8071"
    depends_on:
      rabbit:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:8071/actuator/health | grep UP || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s
    extends:
      file: common-config.yml
      service: microservice-base-config

  eurekaserver:
    image: centralbank/eureka-microservice:s1
    container_name: eurekaserver-ms
    ports:
      - "8072:8072"
    depends_on:
      configserver:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:8072/actuator/health | grep UP || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s
    extends:
      file: common-config.yml
      service: microservice-configserver-config
    environment:
      SPRING_APPLICATION_NAME: eurekaserver

  gatewayserver:
    image: centralbank/gateway-microservice:s1
    container_name: gatewayserver-ms
    ports:
      - "8081:8081"
    depends_on:
      accounts:
        condition: service_healthy
      loans:
        condition: service_healthy
      cards:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:8081/actuator/health | grep UP || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s
    environment:
      SPRING_APPLICATION_NAME: gatewayserver
    extends:
      file: common-config.yml
      service: microservice-eureka-config

  accounts:
    image: centralbank/accounts-microservice:s1
    container_name: accounts-ms
    ports:
      - "8080:8080"
    depends_on:
      configserver:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:8080/actuator/health | grep UP || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s
    environment:
        SPRING_APPLICATION_NAME: accounts
    extends:
        file: common-config.yml
        service: microservice-configserver-config

  loans:
    image: centralbank/loans-microservice:s1
    container_name: loans-ms
    ports:
      - "8090:8090"
    depends_on:
      configserver:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:8090/actuator/health | grep UP || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s
    environment:
        SPRING_APPLICATION_NAME: loans
    extends:
        file: common-config.yml
        service: microservice-configserver-config

  cards:
    image: centralbank/cards-microservice:s1
    container_name: cards-ms
    ports:
      - "9000:9000"
    depends_on:
      configserver:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:9000/actuator/health | grep UP || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s
    environment:
        SPRING_APPLICATION_NAME: cards
    extends:
        file: common-config.yml
        service: microservice-configserver-config

  # -------------------------
  # OBSERVABILITY STACK
  # -------------------------

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ../observability/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - centralbank

  loki:
    image: grafana/loki:2.9.8
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ../observability/loki/loki-config.yml:/etc/loki/local-config.yaml
    networks:
      - centralbank


  tempo:
    image: grafana/tempo:latest
    container_name: tempo
    ports:
      - "3101:3100"
      - "4318:4318"
      - "4317:4317"
    command: ["-config.file=/etc/tempo/tempo.yml"]
    volumes:
      - ../observability/tempo/tempo.yml:/etc/tempo/tempo.yml
    networks:
      - centralbank

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ../observability/grafana/datasource.yml:/etc/grafana/provisioning/datasources/datasource.yml
    networks:
      - centralbank

  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    volumes:
      - ../observability/alloy/alloy-local-config.yml:/etc/alloy/config.alloy
      - /var/run/docker.sock:/var/run/docker.sock
    command: run /etc/alloy/config.alloy
    networks:
      - centralbank

networks:
  centralbank:
    driver: bridge