server:
  port: 8071

spring:
  application:
    name: configserver
  profiles:
    active: native
#   active: git
  cloud:
    config:
      server:
        native:
         search-locations: "classpath:/config"
#        search-locations: "local file system path"
#        git:
#          uri: "github repo url"
#          default-label: main
#          timeout: 5
#          clone-on-start: true
#          force-pull: true
  rabbitmq:
    host: localhost
#   host: rabbit
    port: 5672
    username: guest
    password: guest

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true

