# version: "3.9" ....if we use this then mem_limit will not work because now docker says "mem limit is only for production level not self learning"
services:
  rabbit:
    image: "rabbitmq:3.13-management"
    container_name: rabbit
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      interval: 10s
      timeout : 5s
      retries: 10
      start_period: 5s
    extends:
      file: common-config.yml
      service: network-deploy-service

  configserver:
    image: "eazybytes/configserver:s6"
    container_name: configserver-ms
    ports:
      - "8071:8071"
    depends_on:
      rabbit:
        condition: service_healthy
    healthcheck:
      test: "curl --fail --silent localhost:8071/actuator/health/readiness | grep UP || exit 1"
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s
    extends:
      file: common-config.yml
      service: microservice-base-config

  accounts:
    image: "centralbank/accounts-microservice:s1"
    container_name: accounts-ms
    ports:
      - "8080:8080"
    #    deploy:
    #      resources:
    #        limits:
    #          memory: 700m ....instead we will use mem_limit because deploy is only for swarm mode and we are not using swarm mode
    # mem_limit: 700m
    depends_on:
      configserver:
        condition: service_healthy
    environment:
      SPRING_APPLICATION_NAME: "accounts"
      SPRING_PROFILES_ACTIVE: "docker"
    extends:
      file: common-config.yml
      service: microservice-configserver-config

  loans:
    image: "centralbank/loans-microservice:s1"
    container_name: loans-ms
    ports:
      - "8090:8090"
    #    deploy:
    #      resources:
    #        limits:
    #          memory: 700m
    # mem_limit: 700m
    depends_on:
      configserver:
        condition: service_healthy
    environment:
      SPRING_APPLICATION_NAME: "loans"
      SPRING_PROFILES_ACTIVE: "docker"
    extends:
      file: common-config.yml
      service: microservice-configserver-config

  cards:
    image: "centralbank/cards-microservice:s1"
    container_name: cards-ms
    ports:
      - "9000:9000"
    #    deploy:
    #      resources:
    #        limits:
    #          memory: 700m
    #    mem_limit: 700m
    depends_on:
      configserver:
        condition: service_healthy
    environment:
      SPRING_APPLICATION_NAME: "cards"
      SPRING_PROFILES_ACTIVE: "docker"
    extends:
      file: common-config.yml
      service: microservice-configserver-config

networks:
  centralbank:
    driver: "bridge"